*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff
}

header {
    background-color:#2c3e50;
    height: 95px;
    padding-top: 27px;
}
header nav.logo{
    display: inline-block;
    color: #fff;
}

header nav .logo span{
     font-weight: bold;
     font-size: 29px;
}

header nav{
    width: 84%;
    margin:0 auto;
}

header nav .nav-list{
    display: inline-block;
    float: right;
}
header nav .nav-list ul li{
display: inline-block;
padding: 8px 16px;
}